<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/task   
	http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 数据库配置信息 -->
	<util:properties id="jdbc" location="classpath:jdbc.properties" />

	<!-- 阿里 druid数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		
		<!-- 这种形式：名称jdbc指的是文件名称 -->
		<property name="driverClassName" value="#{jdbc['jdbc.driverClassName']}" />
		<property name="url" value="#{jdbc['jdbc.url']}" />
		<property name="username" value="#{jdbc['jdbc.username']}" />
		<property name="password" value="#{jdbc['jdbc.password']}" /> 
			
		<!-- 
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" /> -->


		
		<!-- 配置初始化大小 -->
		<property name="initialSize" value="20" />
		<!-- 连接池中可同时连接的最大的连接数 -->
		<property name="maxActive" value="100" />
		<!-- 连接池中最大的空闲的连接数，超过的空闲连接将被释放，如果设置为负数表示不限制（默认为8个，maxIdle不能设置太小，因为假如在高负载的情况下，连接的打开时间比关闭的时间快，会引起连接池中idle的个数 
			上升超过maxIdle，而造成频繁的连接销毁和创建，类似于jvm参数中的Xmx设置) -->
		<property name="maxIdle" value="8" />
		<!-- 连接池中最小的空闲的连接数，低于这个数量会被创建新的连接（默认为0，调整为5，该参数越接近maxIdle，性能越好，因为连接的创建和销毁，都是需要消耗资源的；但是不能太大，因为在机器很空闲的时候，也会创建低于minidle个数的连接，类似于jvm参数中的Xmn设置） -->
		<property name="minIdle" value="5" />
		
		<property name="maxWait" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<!-- <property name="minEvictableIdleTimeMillis" value="1800000" /> -->
		<!-- 超过时间限制，回收没有用(废弃)的连接 -->
		<property name="removeAbandonedTimeout" value="300" />
		<!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收（默认为false，调整为true) -->
		<property name="removeAbandoned" value="true" />
		<!-- 自动提交 -->
		<property name="defaultAutoCommit" value="true" />
		<!-- <property name="connectionProperties" value="bigStringTryClob=true;clientEncoding=UTF-8;defaultRowPrefetch=10;serverEncoding=UTF-8" 
			/> -->

		<!-- SQL心跳检查 -->
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<!-- 建议配置为true，不影响性能，并且保证安全性。申请连接的时候检测，如果空闲时间大于timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效。 -->
		<property name="testWhileIdle" value="true" />
		<!-- 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。 -->
		<property name="testOnBorrow" value="false" />
		<!-- 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能 -->
		<property name="testOnReturn" value="false" />
		<!-- 代表每次检查链接的数量，建议设置和maxActive一样大，这样每次可以有效检查所有的链接. -->
		<property name="numTestsPerEvictionRun" value="50" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒（15分钟） -->
		<property name="timeBetweenEvictionRunsMillis" value="900000" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxOpenPreparedStatements" value="-1" />
	</bean>


</beans>